body {
	background: url("https://images3.alphacoders.com/248/248457.jpg");
	text-align: center;

	background-size: cover;


}

h1, h3 {
	background-color: black;
	font-weight: normal;
	color: rgb(41,189,0);
	font-family: "Courier New", sans-serif;
	text-decoration: underline;
}
#second {
	font-weight: bold;
}
p {
	background-color: black;
	color: orange;
}
a {
	font-style: italic;
	text-decoration: none;
	background-color: black;
}